<!--aiohttpdemo_polls/templates/names.html-->
{% set title = "List of people" %} {% include 'header.html' %}
<div class="container">
  {% if people %}
    {% if path == '/people' %}
    <div class="d-flex my-3">
      <a class="me-4" href="{{path}}">All people </a>
      <a href="{{path}}/leader-board">Leaders Board </a>
    </div>
  {% endif %}
  <div class="d-flex justify-content-between my-3">
    <span>Names</span>
    <span>Count of views</span>
  </div>
  <ul class="list-group">
    {% for item in people %}
    <li class="list-group-item d-flex justify-content-between">
      <span>{{ item.name }}</span>
      <span>{{ item.view_count }}</span>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No name are available.</p>
  {% endif %} 

  {% if pagination %}
  <nav class="my-3">
    <ul class="pagination pagination-lg">
      {% for item in pagination %} 
        {% if item.number %} 
          {% if item.is_active %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ item.number }}</span>
          </li>
          {% else %}
          <li class="page-item" aria-current="page">
            <a href="{{path}}?page={{item.number}}" class="page-link">
              {{ item.number }}
            </a>
          </li>
          {% endif %} 
        {% else %}
          <li class="page-item" aria-current="page">
            <span class="page-link">...</span>
          </li>
        {% endif %} 
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
