<!--aiohttpdemo_polls/templates/names.html-->
{% set title = "List of prayers" %} {% include 'header.html' %}
<div class="container">
  <div class="d-flex my-3">
    <a class="me-4" href="/prayers/create">Create prayer</a>
  </div>
  {% if prayers %}
  <div class="d-flex justify-content-between my-3">
    <span>Prayers</span>
  </div>
  <ul class="list-group">
    {% for item in prayers %}
    <li class="list-group-item p-4">
      <a href="/prayers/{{item.id}}">
        <h5>{{ item.title }}</h5>
      </a>
      <p>{{ item.description }}</p>
      {% if user.id == item.user_id %}
      <div class="d-flex">
        <a class="me-4 btn btn-primary" href="/prayers/edit/{{item.id}}">edit prayer</a>
        <button data-role="delete-btn" class="me-4 btn btn-danger" id="{{item.id}}" type="button">delete</button>
      </div>
      {% endif %} 
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No prayers are available.</p>
  {% endif %} 

  {% if pagination %}
  <nav class="my-3">
    <ul class="pagination pagination-lg">
      {% for item in pagination %} 
        {% if item.number %} 
          {% if item.is_active %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">{{ item.number }}</span>
          </li>
          {% else %}
          <li class="page-item" aria-current="page">
            <a href="{{path}}?page={{item.number}}" class="page-link">
              {{ item.number }}
            </a>
          </li>
          {% endif %} 
        {% else %}
          <li class="page-item" aria-current="page">
            <span class="page-link">...</span>
          </li>
        {% endif %} 
      {% endfor %}
    </ul>
  </nav>
  {% endif %}
</div>
<script>
  document.addEventListener('click', function(e){
    if(e.target.getAttribute("data-role") === "delete-btn"){
      fetch(`/prayers/${e.target.id}`,{
        method:'delete'
      }).then(result =>{
        return result.json()
      }).then(r => console.log(r))
    }
  })
</script>